%div{class: :pic, id: "pic_#{pic.id}", style: "background-image: url(\"#{pic.pic_style.bg.url}\")"}
    .main_text{style: "color: #{pic.pic_style.main_color}"}
        =raw pic.main
    .bold_text{style: "color: #{pic.pic_style.bold_color}"}
        =raw pic.bold
%img{src:'', id:"pic#{pic.id}", style: 'display: none;', title: "Пик #{pic.id}"}
.pic_info
    %center
        .count
            - if (pic.likes.where(user_id: current_user)).size > 0
                = link_to "&#10084;".html_safe, likeit_path(pic), id: "like#{pic.id}",  class: 'heart active', remote: true, onclick: "$('#like#{pic.id}').toggleClass('active');"
            -else
                = link_to "&#10084;".html_safe, likeit_path(pic), id: "like#{pic.id}", class: 'heart', remote: true, onclick: "$('#like#{pic.id}').toggleClass('active');"
            %span{id: "like#{pic.id}Count"}
                = pic.likes.count
    %hr
    %center= link_to_function "Получить пик картинкой", "html2canvas($(\"#pic_#{pic.id}\"), {onrendered: function(canvas) { var img = canvas.toDataURL(); $('#pic#{pic.id}').attr('src', img ).dialog({ height: 330, width: 500, modal: true });  }});", class: 'user_name'
    %hr
    = render partial: "tag", collection: pic.tag_list
    %br
    %br
    %center
        -if pic.user==current_user
            %center= link_to "&#8999; Удалить".html_safe, pic_path(pic), method: :delete, class: 'tag'


