%h3 Ну давай, #{current_user.username}!
Для того чтобы создать пик, просто кликай и редактируй надписи "Текст 1" и "Текст 2". После создания твой пик будет хранится в разделе "Мои пики" и попадет в общую ленту.
%br
Редактировать пики нельзя, поэтому следи за написанием, а если что-то не получилось, то всегда можно нажать кнопку "Удалить".
%br
В социальные сети проще публиковать картинку, для этого нажми на клавишу "Получить пик".
%br
%br
Помни наши правила:
%li мы любим русский язык;
%li мы не используем копи-паст;
%li мы заботимся о чистоте нашего сообщества;
%li мы используем теги, но не более 5 к пику.
%br
%br
.clear
.pic{style: "background-image: url(#{PicStyle.first.bg.url})"}
    .main_text{style: "color:#{PicStyle.first.main_color}"}
        #text_prev{contenteditable: true, onpaste: "return false;"} <br><br><br>Текст 1
    .bold_text{style: "color:#{PicStyle.first.bold_color}"}
        #text_prev_bold{contenteditable: true, onpaste: "return false;"} Текст 2


.clear



%p
Теги разделяются клавишей
%b TAB



= form_for @pic, {:url => pics_path, :html => { :multipart => true }} do |f|
    =hidden_field_tag "pic[main]", "Текст 1"
    =hidden_field_tag "pic[bold]", "Текст 2"
    =#for rmagick hidden_field_tag :bold_offset, "103"
    %ul#picTags
    Стиль:
    =f.select :pic_style_id, PicStyle.all.map{|x| [x.name, x.id]}
    %br
    %br

    =submit_tag "Создать пик", id: "create_pic"
