/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 

 
@font-face {
    font-family: 'Black';
    src: url('Black.ttf');
} 

@font-face {
    font-family: 'Regular';
    src: url('Regular.ttf');
} 

#container{
 min-height: 600px;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}







