hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pic_type{
  width: 620px;
}

#alert-error{
  font-size: 14px;
  border: 1px solid #ff3b3b;
  width: 615px;
  margin-top: 3px;
  padding: 0 8px;
  background-color: #ff6565;
  padding-top: 2px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
}


.pic{
  width: 440px;
  max-height: 300px;
  height: 250px;
  border: 1px solid #ff3b3b;
  display:inline;
	float: left;
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
  overflow: hidden;
}

.main_text{
  text-align: center;
  font-family: "Regular", sans-serif;
  font-size: 32px;
  line-height: 0.9em;
}

.bold_text{
  text-align: center;
  font-family: "Black", sans-serif;
  font-size: 32px;
}

.pic_info{
  font-family: 'PT Sans', sans-serif;
  width: 178px;
  margin-left: 10px;
  display:inline;
	float: left;
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
	color: #39414a;

	hr {
	    padding: 0;
	    border: none;
	    color: #ff3b3b;
	    text-align: center;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(255, 198, 198, 1), rgba(255, 59, 59, 1), rgba(255, 198, 198, 1));
	    background-image:    -moz-linear-gradient(left, rgba(255, 198, 198, 1), rgba(255, 59, 59, 1), rgba(255, 198, 198, 1));
	    background-image:     -ms-linear-gradient(left, rgba(255, 198, 198, 1), rgba(255, 59, 59, 1), rgba(255, 198, 198, 1));
	    background-image:      -o-linear-gradient(left, rgba(255, 198, 198, 1), rgba(255, 59, 59, 1), rgba(255, 198, 198, 1));
;
	}

	hr:after {
	    content: '•••';
	    display: inline-block;
	    position: relative;
	    top: -0.7em;
	    font-size: 1em;
	    padding: 0 0.25em;
	    background: white;

	}


}

.tag{
    font-size: 10px;
    border: 1px solid #ff3b3b;
    display: inline-block;
    height: 16px;
    margin-top: 3px;
    margin-right: 3px;
    line-height: 18px;
    padding: 0 8px;
    background-color: #ff6565;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    &:hover{
      color: white;
      border: 1px solid #db3131;
      background-color: #e35454;
    }
}

.user_name{
    font-size: 12px;
    border: 1px solid #36b27f;
    display: inline-block;
    height: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    margin-right: 3px;
    line-height: 18px;
    padding: 0 8px;
    background-color: #3ec78e;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    &:hover{
      color: white;
      border: 1px solid #2d986c;
      background-color: #38b681;
    }
}

h1{
  font-family: 'PT Sans', sans-serif;
  color: #ff3b3b;
  font-size: 20px;
  padding-top: 0px;
  margin-top: 1px;
  margin-bottom: 20px;
}

h3{
  font-family: 'PT Sans', sans-serif;
  color: #ff3b3b;
  font-size: 15px;
  padding-top: 0px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.count{
  font-size: 25px;
  a{
    color: #777777;
  }
  .heart{
    text-decoration: none;
  &:hover{
    color: #ff1c1c;
  }
  }
  .active{
    color: #ff3b3b;
  }
}

.mark{
  display:inline;
  z-index: 2;
  padding-left: 378px;
}
