.footer{
  background-color: #f7f7f7;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  text-align: right;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  color: #5d5d5d;
}
