.header{
 background-color: #556270;
 padding-top: 20px;
 margin-bottom: 15px;
 height: 60px;
 border-bottom: 2px solid #39414a;
 
}

#subHeader{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: white;
  text-align: right;
  padding-top: 10px;
  color: white;
  
  .vk{
    border: 1px solid #0e4884;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 8px;
    background-color: #597da3;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    &:hover{
      color: white;
      border: 1px solid #0e3a69;
      background-color: #506f91;
    }
  }
  
  .fb{
    border: 1px solid #0e4884;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 18px;
    padding: 0 8px;
    background-color: #3b5998;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    &:hover{
      color: white;
      border: 1px solid #073667;
      background-color: #324d85;
    }
  }
  
  .create_pic{
    font-size: 13px;
    border: 1px solid #36b27f;
    display: inline-block;
    height: 21px;
    margin-bottom: 8px;
    text-align: center;
    margin-right: 3px;
    line-height: 21px;
    padding: 0 8px;
    background-color: #3ec78e;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    &:hover{
      color: white;
      border: 1px solid #2d986c;
      background-color: #38b681;
    }
  }
  
  .menu{
    font-size: 13px;
    display: inline-block;
    height: 21px;
    margin-bottom: 8px;
    text-align: center;
    margin-right: 3px;
    line-height: 21px;
    padding: 0 8px;
    border: 1px solid #36b27f;
    color: #36b27f;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    
    &:hover{
      border-color: #2e996c;
      background: #38b681;
      color: white;
    }
}
  
}



