// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create_pic{
  font-size: 13px;
  border: 1px solid #36b27f;
  display: inline-block;
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
  margin-right: 3px;
  line-height: 21px;
  padding: 0 8px;
  background-color: #3ec78e;
  padding-top: 4px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  &:hover{
    color: white;
    border: 1px solid #2d986c;
    background-color: #38b681;
  }
}
.flickr_pagination {
  text-align: center;
  width: 440px;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff3b3b; }
  .flickr_pagination a {
    border: 1px solid #36b27f;
    color: #36b27f;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #2e996c;
      background: #38b681;
      color: white; }
  .flickr_pagination .page_info {
    color: #ababab;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 1px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }