
#sidebar{
  text-align: right;
}

.sidebarSection{
  font-family: 'PT Sans', sans-serif;
  background-color: #f7f7f7;
  max-width: 300px;
  margin-left: 10px;
  text-align: left;
  padding: 10px 0px 10px 10px;

  margin-bottom: 10px;
  font-size: 14px;

  h1{
    color: #ff3b3b;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  p{
    margin-top: 4px;
    color: #39414a;
  }

  a, a:hover{
    color: #ff3b3b;
  }
}
