.footer
  %div{ class: "container_12"}
    Copyright © 2013 Thinkpic.ru
    %br
    С вопросами и предложениями писать на
    %b one@thinkpic.ru
    %br
    Права на контент принадлежат владельцам аккаунтов
    = render partial: 'layouts/counters'
