.header
    %div{ class: "container_12", id: 'container'} 
        .grid_12
            %div{ class: "grid_2 alpha", id: 'logo'}
                = link_to image_tag("logo.png"), root_path
            %div{ class: "grid_10 omega", id: 'subHeader'}
                - if user_signed_in?
                    = link_to 'Создать новый пик', new_pic_path, class: 'create_pic'  
                    = link_to 'Мои пики', userpics_path(current_user), class: 'menu' 
                    = link_to 'Выйти', sign_out_path, class: 'menu'                   
                -else
                    Войти через 
                    = link_to "Вконтакте", user_omniauth_authorize_path(:vkontakte), class: 'vk' 
                    или
                    = link_to "Facebook", user_omniauth_authorize_path(:facebook) , class: 'fb'
