%div{id: "sidebar", class: "grid_4"}
  .sidebarSection
    %h1 Пик онлайн на Thinkpic
    %p
      - unless user_signed_in?
        Thinkpic позволит тебе создавать и коллекционировать мысли в картинках.
        %br
        Теперь твои мысли в надежном месте.
        %br
        %br
      Для вашей безопасности, на главной странице находятся пики с рейтингом
      %b +5
      %br
      = link_to 'Смотреть все пики', list_pics_path

    %p
      Пиков в базе:
      = Pic.count
      %br
      Собрано лайков:
      = Like.count
  = render partial: "layouts/social"


