<script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>

<!-- VK Widget -->
<div id="vk_groups" style="margin-left:10px;"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "300", height: "290"}, 45863739);
</script>
