!!! 5
%html

  %head
    %title ThinkPic
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/blitzer/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}

  %body

    = render :partial => "layouts/header"
    %div{ id: "container", class: "container_12"}
      = render :partial => "layouts/content"
      = render :partial => "layouts/sidebar"
    .clear  
    = render :partial => "layouts/footer"
      
      
        
      
    
